<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Vue Boolflix</title>
    </head>
    <body>
        <div id="root">
            <div class="container">
                <header>
                    <div class="searchbar mt-4">
                        <h1 class="text-left text-uppercase">boolflix</h1>
                        <i class="fas fa-search"></i>
                        <input v-on:keyup.enter="movieSrc()" v-model="inputSearch" type="text" name="" value="" placeholder="cerca">
                        <button v-on:click="movieSrc()" class="text-uppercase btn default-btn" type="button" name="button">cerca</button>
                    </div>
                    <h3 v-if="displaySearch != '' " class="text-capitalize mt-4">hai cercato : " {{ displaySearch }}"</h3>
                </header>
                <main>
                    <div class="cardbox"  v-for="item in searchList">
                        <img v-bind:src="baseUrl + 'w154' + item.poster_path">
                        <p class="text-capitalize">titolo : {{item.title}}</p>
                        <p class="text-capitalize">titolo originale : {{ item.original_title }}</p>
                        <p class="text-capitalize">lingua originale : {{item.original_language}}</p>
                        <p>Anno : {{item.release_date}}</p>
                        <p class="text-capitalize">voto medio : {{item.vote_average}}</p>
                        <p>Overview : {{ item.overview }}</p>
                        <div class="">
                            <i v-for="item2 in calcVote(item.vote_average)" class="fas fa-star"></i>
                            <i v-for="item2 in (5 - calcVote(item.vote_average))"  class="far fa-star"></i>
                        </div>

                    </div>
                </main>

            </div>
        </div>


        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
