* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#root {
    min-height: 100vh;
}

main {
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 50%;
}

button {
    width: 15%;
    height: 100%;
    background-color: lightgreen;
}

p {
    font-size: 20px;
    margin: 5px 5px;
}

h1 {
    font-size: 20px;
    color: red;
}

h3 {
    font-size: 15px;
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar i {
    height: 100%;
    color: #FFF;
}

.searchbar p {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    color: red;
    width: 15%;
}

.cardbox {
    display: flex;
    flex-direction: column;    
    width: 250px;
    background-color: lightblue;
    margin: 10px 30px;
}
