* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 70%;
}

button {
    width: 20%;
    height: 100%;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardbox {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    background-color: black;
    margin: 10px 30px;
}
